body {
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
}

.section_1 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.section_1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nav {
    background-color: rgb(0, 0, 0, 20%);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: 5%;
    gap: 65rem;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    font-family: "Work Sans", sans-serif;
    padding: 5px;
    position: fixed;
    z-index: 5;
}

.fa-seedling {
    font-size: 2.3rem;
    color: rgb(11, 199, 11);

}

.nav_link {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}

.nav_link a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 300;
}

.nav_link a:hover {
    color: #ff5301;
    transition: 2px;
}

.grid-container {
    font-family: "Work Sans", sans-serif;
    color: rgb(48, 43, 43);
    font-weight: 400;
    background-color: #f5f6f4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    
}

.grid-container h1 {
    display: grid;
    font-size: 6rem;
    line-height: 120px;
    padding: 20px;
    color: #ff5301;
    margin: 15px;
    border-right: 2px gray dashed;
}


.grid-container h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 15px;   
    padding: 40px;
    line-height: 20px;
}

 .section {
    font-family: "Work Sans", sans-serif;
    color: #f5f6f4;
    position: absolute;
    right: 500px;
    bottom: 100px;
    /* background-color: #ff5301; */
    /* border: 5px solid #ff5301; */
    height: 50vh;
    width: 40vw;
    animation: fadeInOut 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ebebff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

 @keyframes fadeInOut { 
    0%, 100% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }

} 

.section h1 {
    font-size: 7rem;
    margin: 0px;
    text-shadow: #3d3d3d;
}

.section h4 {
    font-size: 2rem;
    margin: 2px;
    font-weight: 400;
    color: #ffffff;
} 
 
.section-2 {
    position: relative;
    display: flex;
}

.section-2 img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.write-up {
    font-size: 5rem;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    color: #f5f6f4;
    display: flex;
    position: absolute;
    bottom: 200px;
    left: 150px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.write-up h1 {
    margin: 0px;
}

.fa-facebook {
    color: #1877F2;
    font-size: 26px;
    transition: transform 0.4s ease;

}

.fa-facebook:hover {
    transform: rotate(360deg);
}

.fa-instagram {
    color: #E4405F;
    font-size: 26px;
    /* display: inline-block; */
    transition: transform 0.4s ease;
}

.fa-instagram:hover {
    transform: rotate(360deg);
}

.container {
    overflow: hidden;
}

.footer {
    font-size: 1.1rem;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    background-color: #ff5301;
    color: #f5f6f4;
    padding: 5px;
    

}

.footer p {
    margin: 0px;
}
